html {
    font-size:16px;
}

body {
    background-color: lightpink;
    color: white;
    font-family:'Courier New', Courier, monospace;
} /* Changes background, text color, and font */

/* ============================
    DESKTOP STYLE(DEFAULT)
  ============================== */

section {
    width: 90%;
    max-width: 1100px;
    margin: 4rem auto;
} /* Add space between sections */

/* TYPOGRAPHY */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:deeppink;
    font-size: 2.25rem;
    font-weight: 100;
}

/* EXPERIENCE SECTION FLEXBOX LAYOUT*/

#Experience ul {
    list-style: none;
    padding: 0;
} /* Remove list style */

.exp {
    background-color:palevioletred;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

/* Row layout title + date */
.exp-header {
    display: flex;
}

.exp-dates {
    margin-left: auto;
    font-style: italic;
    font-size: 14px;
} /* Pushes dates to the right */

.exp-title {
    font-weight: bold;
    font-size: 18px;
} /* Title stands out */

.exp-description {
    margin-top: 10px;
    font-size: 14px;
} /* Description below title + date */

/* CONNECT SECTION USING FLEXBOX */

.connect-links {
    display: flex;
    gap: 1em;
}

.connect-links a {
    color: fuchsia;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
} /* Remove bullets from navigation menu */


/* ============================
    TABLET STYLES
  ============================== */

  @media(max-width: 768px) {
    h1 {
        font-size: 2.5rem;  /* change 1 */
        color: hotpink;  /* change 2 */
    }
    .exp {
        padding: 1.25rem;   /* change 1 */
        background-color: pink;  /* change 2 */
    }
    .connect-links {
        text-align: center;  /* change 1 */
        gap: 30px;   /* change 2 */
    }
  } 

/* ============================
    MOBILE STYLES
  ============================== */

  @media(max-width: 480px) {
    h1 {
        font-size: 1.875rem;  /* change 1 */
        text-align: left;  /* change 2 */
        margin-left: 0.625rem;
    }
    .exp-header {
        flex-direction: column;  /* change 1 */
        gap: 5px;   /* change 2 */
    }
    nav ul {
        display: flex;  /* change 1 */
        flex-direction: column;  /* change 2 */
        align-items: center;
    }
  }


